<h1>World Temperatures</h1>

<p class="lead">
The application gather weather temperature from any location and display the temperature in the local system units ( f.e. Boston in F and Valencia in C ) 
</p>

<h2>Example:</h2>

<ul class="list-unstyled">
  <li><a href="/Boston">Boston</a></li>
  <li><a href="/Valencia">Valencia</a></li>
  <li><a href="/Singapore">Singapore</a></li>
  <li><a href="/Cluj">Cluj</a></li>
  <li><a href="/Chicago">Chicago</a></li>
</ul>

<h2>Error:</h2>

<ul class="list-unstyled">
  <li><a href="/111111111">111111111</a></li>
</ul>

